*{box-sizing: border-box;margin:0;padding:0;list-style: none;}
.diy-container{
  max-width:1200px;
  margin:auto;
  font-size:14px;
}
.diy-input{
  outline: none;
  box-shadow: 0 0 0 0 #fff;
  border:1px solid #eee;
  border-radius: 2px;
  width:100%;
  height:32px;
  padding:0 10px;
}
.diy-btn{
  outline: none;
  background:none;
  border:1px solid #bbb;
  padding:0 10px;
  line-height: 30px;
  border-radius: 2px;
  cursor: pointer;
  color:#333;
}
.diy-btn-danger{
  background:#e77;
  color:#fff;
  border-color:#e77;
}
.diy-check label{
  display: flex;
  align-items: center;
}
.diy-check label .desc{
  margin-left:10px;
}

/* todo-list */
.todo-list{
  border:1px solid #eee;
  border-radius: 2px;
  margin:10px 0;
}
.todo-item{
  display:flex;
  align-items: center;
  padding:5px;  
  line-height:26px;
}
.todo-item + .todo-item{
  border-top:1px solid #eee;
}
.todo-item-del{
  margin-left:auto;
  visibility: hidden;
  opacity:0;
  transition:.3s;
}
.todo-item:hover .todo-item-del{
  opacity:1;
  visibility: visible;
}
.todo-item-del .diy-btn{
  line-height:26px;
}